.principal {
  margin-bottom: 50px;
}

body{
  padding-top: 80px;
}

footer {
    position:fixed;
    bottom: 0; 
    left:0;  
    height: 30px;
    width: 100%;
    background-color: #D4D3D3;
    text-align: center;
}

.dropdown-menu-right { 
    right: 0; 
    left: auto; 
    z-index: 999999;
}

.bton-white:link, .bton-white:hover, .bton-white:visited, .bton-white:active, .bton-white {
    text-decoration:none;
    color:white;
}

.font_monse{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.dropdown-submenu {
  position: relative;
  z-index: 999999;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
  z-index: 999999;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  /*margin-left: .1rem;*/
  margin-right: .1rem;
}

.general{
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 5;
}

.title{
  font-size: 30px;
  margin-bottom: 30px;
}

.label_inline{
  margin-right: 10px;
}

.small_input{
  margin-right: 10px;
}

.input-sm{
  height: 30px;
}

.input-group-button {
    padding: 0 0 0 5px;
    border-color: transparent;
    background: none;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index:2147483647;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.alert {
  position: relative;
  /*padding: .75rem 1.25rem;*/
  border: 1px solid transparent;
  border-radius: .25rem;
  text-align: center;
  margin-top:8px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

#ModalContacto {
  height: 100%;
  width: 100%;
  opacity: 0.001;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
/*.form-inline {
  width: 100%;  
  display: table;
}
*/
.cell {
  display: table-cell;
}

.input_small{
  height: 30px;
}

.btn_small{
  line-height: 0.5;
}
.col_oculta{
  display: none;
}

